@import url("./includes.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Gibson", sans-serif;
  font-weight: 500;
}
/* navbar styles */
.navbar {
  width: 100%;
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

.navbar img {
  width: 90px;
  margin: 0;
}

.nav-list {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 10px;
  display: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.resume-btn {
  width: 110px;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  border: 0;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* global styiling */
.section {
  padding: 1rem;
}
.section-title {
  margin-top: 0;
}
.paragraph {
  text-align: center;
  font-family: "Gibson" sans-serif;
  font-weight: 500;
  font-size: clamp(1.1rem, 4vw, 2rem);
  line-height: 1.2em;
  color: #9ea3b2;
  padding: 0 0.5em;
  margin: 1rem;
}
#line {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  line-height: 1.5em;
  border-bottom: solid 5px #3f4451;
}

/* home section */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home img {
  width: 150px;
  max-width: 200px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000000;
  margin: 1em;
}
.hello {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 500;
  font-family: "Rational", sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 0.8rem;
}

.title {
  width: 90%;
  font-size: clamp(2rem, 5vw, 5rem);
  letter-spacing: -1px;
  margin: 0.8rem;
  padding: 0 0.5em;
}

/* animate title */

.title {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); */
  }
  20.6% {
    opacity: 0;
    /* text-shadow: none; */
  }
  30% {
    opacity: 0;
    /* text-shadow: none; */
  }
  30.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  30.5% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  30.6% {
    opacity: 0;
    /* text-shadow: none; */
  }
  45% {
    opacity: 0;
    /* text-shadow: none; */
  }
  45.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  50% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  55% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  55.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  57% {
    opacity: 0;
    /* text-shadow: none; */
  }
  57.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); */
  }
  60% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); */
  }
  60.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  65% {
    opacity: 0;
    /* text-shadow: none; */
  }
  65.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  75% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  75.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  77% {
    opacity: 0;
    /* text-shadow: none; */
  }
  77.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  85% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  85.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  86% {
    opacity: 0;
    /* text-shadow: none; */
  }
  86.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  100% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    /* text-shadow: none; */
  }
  10.1% {
    opacity: 1;
    /* text-shadow: none; */
  }
  10.2% {
    opacity: 0;
    /* text-shadow: none; */
  }
  20% {
    opacity: 0;
    /* text-shadow: none; */
  }
  20.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); */
  }
  20.6% {
    opacity: 0;
    /* text-shadow: none; */
  }
  30% {
    opacity: 0;
    /* text-shadow: none; */
  }
  30.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  30.5% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  30.6% {
    opacity: 0;
    /* text-shadow: none; */
  }
  45% {
    opacity: 0;
    /* text-shadow: none; */
  }
  45.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  50% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  55% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); */
  }
  55.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  57% {
    opacity: 0;
    /* text-shadow: none; */
  }
  57.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); */
  }
  60% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); */
  }
  60.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  65% {
    opacity: 0;
    /* text-shadow: none; */
  }
  65.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  75% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  75.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  77% {
    opacity: 0;
    /* text-shadow: none; */
  }
  77.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  85% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  85.1% {
    opacity: 0;
    /* text-shadow: none; */
  }
  86% {
    opacity: 0;
    /* text-shadow: none; */
  }
  86.1% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
  100% {
    opacity: 1;
    /* text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
  }
}


/* end of title animation */

.contact-me {
  text-transform: uppercase;
  font-size: clamp(0.7rem, 1vw, 1rem);
  font-weight: 700;
  padding: 1.8em 1.8em;
  border-radius: 30px;
  border: none;
  margin: 0.8rem 0 0.5rem 0;
}

.tec-icons {
  padding: 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icons-img {
  border-radius: 50%;
  width: 30%;
  max-width: 200px;
  background-color: #fff;
  padding: 0.5em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: ease-out 1s;
  margin: 1%;
}
.icons-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* .proj-discreption{
  background: #fff;
} */

/* contact section */

.contact-form {
  margin: 10px;
  padding: 3% 0;
  border: 1px solid red;
}

.contact-form form {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  width: 100%;
  border-top: 1px solid #3f4451;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.social-media {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.social-media svg {
  width: 30px;
}
.email {
  width: 25%;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email img {
  widows: 30px;
}

.email p {
  font-size: 10px;
  font-family: "Gibson", sans-serif;
  color: #9ea3b2;
  font-weight: 500;
}
